@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9216%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9216%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9216%;
    --primary: 0 0% 45.098%;
    --primary-foreground: 0 0% 98.0392%;
    --secondary: 0 0% 96.0784%;
    --secondary-foreground: 0 0% 9.0196%;
    --muted: 0 0% 96.0784%;
    --muted-foreground: 0 0% 44.3137%;
    --accent: 0 0% 96.0784%;
    --accent-foreground: 0 0% 9.0196%;
    --destructive: 357.1429 100% 45.2941%;
    --destructive-foreground: 0 0% 96.0784%;
    --border: 0 0% 89.8039%;
    --input: 0 0% 89.8039%;
    --ring: 0 0% 63.1373%;
    --chart-1: 0 0% 45.098%;
    --chart-2: 0 0% 45.098%;
    --chart-3: 0 0% 45.098%;
    --chart-4: 0 0% 45.098%;
    --chart-5: 0 0% 45.098%;
    --sidebar: 0 0% 98.0392%;
    --sidebar-foreground: 0 0% 3.9216%;
    --sidebar-primary: 0 0% 9.0196%;
    --sidebar-primary-foreground: 0 0% 98.0392%;
    --sidebar-accent: 0 0% 96.0784%;
    --sidebar-accent-foreground: 0 0% 9.0196%;
    --sidebar-border: 0 0% 89.8039%;
    --sidebar-ring: 0 0% 63.1373%;
    --font-sans: Geist Mono, monospace;
    --font-serif: Geist Mono, monospace;
    --font-mono: Geist Mono, monospace;
    --radius: 0rem;
    --shadow-2xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
    --shadow-xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
    --shadow-sm: 0px 1px 0px 0px hsl(0 0% 0% / 0),
      0px 1px 2px -1px hsl(0 0% 0% / 0);
    --shadow: 0px 1px 0px 0px hsl(0 0% 0% / 0),
      0px 1px 2px -1px hsl(0 0% 0% / 0);
    --shadow-md: 0px 1px 0px 0px hsl(0 0% 0% / 0),
      0px 2px 4px -1px hsl(0 0% 0% / 0);
    --shadow-lg: 0px 1px 0px 0px hsl(0 0% 0% / 0),
      0px 4px 6px -1px hsl(0 0% 0% / 0);
    --shadow-xl: 0px 1px 0px 0px hsl(0 0% 0% / 0),
      0px 8px 10px -1px hsl(0 0% 0% / 0);
    --shadow-2xl: 0px 1px 0px 0px hsl(0 0% 0% / 0);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 0 0% 3.9216%;
    --foreground: 0 0% 98.0392%;
    --card: 0 0% 9.8039%;
    --card-foreground: 0 0% 98.0392%;
    --popover: 0 0% 14.902%;
    --popover-foreground: 0 0% 98.0392%;
    --primary: 0 0% 45.098%;
    --primary-foreground: 0 0% 98.0392%;
    --secondary: 0 0% 14.902%;
    --secondary-foreground: 0 0% 98.0392%;
    --muted: 0 0% 14.902%;
    --muted-foreground: 0 0% 63.1373%;
    --accent: 0 0% 25.098%;
    --accent-foreground: 0 0% 98.0392%;
    --destructive: 358.8387 100% 69.6078%;
    --destructive-foreground: 0 0% 14.902%;
    --border: 0 0% 21.9608%;
    --input: 0 0% 32.1569%;
    --ring: 0 0% 45.098%;
    --chart-1: 0 0% 45.098%;
    --chart-2: 0 0% 45.098%;
    --chart-3: 0 0% 45.098%;
    --chart-4: 0 0% 45.098%;
    --chart-5: 0 0% 45.098%;
    --sidebar: 0 0% 9.0196%;
    --sidebar-foreground: 0 0% 98.0392%;
    --sidebar-primary: 0 0% 98.0392%;
    --sidebar-primary-foreground: 0 0% 9.0196%;
    --sidebar-accent: 0 0% 14.902%;
    --sidebar-accent-foreground: 0 0% 98.0392%;
    --sidebar-border: 0 0% 100%;
    --sidebar-ring: 0 0% 32.1569%;
    --font-sans: Geist Mono, monospace;
    --font-serif: Geist Mono, monospace;
    --font-mono: Geist Mono, monospace;
    --radius: 0rem;
    --shadow-2xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
    --shadow-xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
    --shadow-sm: 0px 1px 0px 0px hsl(0 0% 0% / 0),
      0px 1px 2px -1px hsl(0 0% 0% / 0);
    --shadow: 0px 1px 0px 0px hsl(0 0% 0% / 0),
      0px 1px 2px -1px hsl(0 0% 0% / 0);
    --shadow-md: 0px 1px 0px 0px hsl(0 0% 0% / 0),
      0px 2px 4px -1px hsl(0 0% 0% / 0);
    --shadow-lg: 0px 1px 0px 0px hsl(0 0% 0% / 0),
      0px 4px 6px -1px hsl(0 0% 0% / 0);
    --shadow-xl: 0px 1px 0px 0px hsl(0 0% 0% / 0),
      0px 8px 10px -1px hsl(0 0% 0% / 0);
    --shadow-2xl: 0px 1px 0px 0px hsl(0 0% 0% / 0);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
